*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.title{

    background: #f5ce43;
    padding: 10px;
    font-size: 10px;
   
    display: flex;
    justify-content: center;
    align-items: center;


}

.titlename {

    background-color: bisque;
    width: 600px;
    padding: 5px;
    text-align: center;
}



.mainbanner{
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.bannerimg img {
    width: 1265px;
}


.crewdetails{
    background-color: rgb(73, 73, 73);
  
    color: white;
   

}

.crewtitle{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    gap: 20px;
}



.box{
    background: #000;
    color: white;
    padding: 20px;
    width: 500px;
    height: 150px;
}


.ticketmain{
    background: #000;
    padding: 20px;
   

}

.ticket_details{

     background-color: white;
     padding: 15px;
     display: flex;
     flex-direction: column;
     gap:10px;
     width: 333px;
}


.ticketimage img {
    width: 300px;
}